/*All the styling for the blog*/
article.postexcerpt {
  background:whiteSmoke;
  width:70%;
  border: 2px solid #B0B0B0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 7px 20px rgba(30, 30, 30, 0.2);
  -moz-box-shadow:    0px 7px 20px rgba(30, 30, 30, 0.2);
  box-shadow:         0px 7px 20px rgba(30, 30, 30, 0.2);
  margin-bottom:15px;
  padding:10px 15px;
}
