// Variables/Mixins
$link-color: #15c;
// Typography
a {
	color: $link-color;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: $link-color;
		text-decoration: underline;
	}
}
// Core
div.wrapper {
	width: 95%;
	padding: 2%;
	margin: 0 auto;
}
// Media Queries
// @media only screen and (min-width: 480px) and (max-width: 960px)
@media only screen and (max-width: 860px) {
	#main-nav {
		ul {
			display: none !important;
		}
		select {
			display: block !important;
			margin: 15px auto;
		}
	}
}
@media only screen and (max-width: 480px) {
	// div.wrapper {
	// 	width: 100%;
	// 	padding: 0;
	// 	margin: 0;
	// }
}
// Header
#main-header {
	.logo-main {
		a {
			color: $link-color;
			text-decoration: none;
			&:hover {
				color: $link-color;
			}
		}
	}
}
// Header/Navigation
#main-header {
	margin-bottom: 35px;
	#main-nav {
		ul {
			li {
				margin-right: 25px;
				display: inline-block;
				a {
					font-size: 1.1em;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		select {
			display: none;
		}
	}
}
// Content/Page:AllBlogPosts
.content#allposts {
	ul#allpostslist {
		li {
			margin-bottom: 5px;
			a {
				font-size: 1.1em;
			}
		}
	}
}
// Footer
#main-footer {
	margin-top: 50px;
	.footer-text {
		text-align: center;
		font-size: 0.9em;
	}
}
